<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>用戶列表</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>user name</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.username }}</td>  <!-- users name-->
                        <td>{{ account.created_at }}</td>  <!-- 显示创建时间 -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
